body {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

.navbar {
    min-height: 56px;
    background-color: #000000 !important;
    transition: all 1s;
}

.navbar-big {
    min-height: 100px;
    background-color: rgba(0, 123, 255, 0) !important;
    transition: all 1s;
}

.nav-item {
    font-family: 'Rubik', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: .8rem;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-light {
    background-color: transparent !important;
}

#section-jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/main-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.fa-sitemap {
    color: #e0e0e0;
}

.fa-users {
    color: #e0e0e0;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-7 {
    margin-bottom: 5rem;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.px-7 {
    padding-left: 8em !important;
    padding-right: 8em !important;
}

.bg-second {
    background-color: #fafafa;
}

.bg-black {
    background-color: #000;
}

.social-icon {
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 50%;
}

.mt-10 {
    margin-top: 10rem;
}

.bg-7690c5 {
    background-color: #7690c5;
}

blockquote {
    position: relative;
    border: 2px solid #f3f3f3;
}

#section-client-bar {
    padding-top: 25px;
    padding-bottom: 25px;
}

#section-client-bar img {
    opacity: .4;
    transition: opacity .3s;
}

#section-client-bar img:hover {
    opacity: 1;
}

#section-contact .fa-li {
    margin-top: -5px;
}

#section-team img {
    border: 7px solid #fff;
    border-radius: 50% !important;
}

footer p {
    font-size: .8rem;
    font-family: 'Rubik', sans-serif;
}

footer hr {
    opacity: .2;
}

footer img {
    width: 3%;
}

.card {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.23);
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-body {
    background-color: #ffffff;
}

.btn-br0 {
    border-radius: 0 !important;
}

.btn-br50 {
    border-radius: 50%;
}

#section-info {
    background-color: #E8E9EB;
    padding-top: 25px;
    padding-bottom: 25px;
}

#section-info img {
    width: 5%;
}

#section-work {
    background-color: #E8E9EB;
    padding-top: 40px;
    padding-bottom: 40px;
}

#section-work img {
    width: 5%;
}